{% extends 'base.html' %}
{% load staticfiles %}


{% block contents %}
<body>

    <div class="card" style="width: 18rem; margin: auto;">
            <img class="card-img-top" src="{% static 'img.png'%}" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    {%for pofol in pofols.all %}
    <br>
    <div class="card" style="width: 18rem; margin: auto;">
        <img class="card-img-top" src="{{ pofol.image.url }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{pofol.description}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    {% endfor %}

</body>

{% endblock %}
